.feynman {
  padding-top: 100px;
  height: 890px;
  background-color:#F2F2F2;
  background-image: url("../../images/feinman.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  z-index: 1;
  position: relative;
}
