@import url(../fonts/fonts.css);

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Inter', 'Arial', sans-serif;
}

.header {
  margin-bottom: 100px;
  height: 100vh;
  display: flex;
  position: relative;
  min-height: 600px;
  max-height: 756px;
  background-color:#F2F2F2;
  overflow: hidden;
}

.logo {
  background-position: center;
  background-size: contain;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
}

.logo__place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 180px;
  height: 32px;
}

.header__title {
  display: flex;
  width: 730px;
  padding-left: 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  z-index: 2;
  align-self: center;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  bottom: 30px;
  left: 64px;
  font-size: 18px;
  line-height: 25px;
  z-index: 2;
  font-weight: 100;
}

.header__main-illustration {
  background-image: url("../images/two_again.png");
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
  background-size: cover;
  z-index: 1;
  position: absolute;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  right: 0px;
  position: absolute;
  top: 64px;
  animation: rotation 20s linear infinite;
}

.header__link {
  color:#2F80ED;
}

.description {
  display: flex;
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top:0;
  width:80%;
  position: relative;
  margin-left:auto;
  margin-right:auto;
  /* vertical-align:top; */
}

.description{
  margin-bottom:100px;
}

.two-columns {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top:0;
  width: 80%;
  position: relative;
  margin-left:auto;
  margin-right:auto;
}

.two-columns__brief {
  font-weight: 100;
  width: 175px;
  color: #2F80ED;
  line-height: 1.2;
  font-size: 18px;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__paragraph{
  font-size:24px;
  line-height:34px;
  margin-bottom:30px;
}

.two-columns__span-accent {
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
}

.techniques {
  width: 80%;
  margin: 0 auto 100px auto;
}

.section-title {
  display: block;
  width: 60%;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.2;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}

.section-subtitle {
  display: block;
  width: 60%;
  font-size: 24px;
  line-height: 34px;
  font-weight: 100;
  text-align: center;
  margin: auto;
}

.cards {
  width: 920px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: normal;
  flex-wrap: wrap;
}

.cards__item {
  display: block;
  width: 240px;
  margin: 0 0 60px 0;
}

.cards__item_third {
  margin-right: 0;
}

.cards__image {
  margin: 60px 40px 43px;
  width: 160px;
  height: 160px;
  background-size: contain;
  border-radius: 50%;
}

.cards__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
}

.cards__image_attention {
  background-image: url("../images/cards-attention.png");
}

.cards__image_recall {
  background-image: url("../images/cards-recall.png");
}

.cards__image_interliving {
  background-image: url("../images/cards-interliving.png");
}

.cards__image_question {
  background-image: url("../images/cards-question.png");
}

.cards__image_competence {
  background-image: url("../images/cards-competence.png");
}

.cards__description {
  line-height: 23px;
  font-size: 18px;
  text-align: center;
}

.video__iframes {
  padding-top: 50px;
  width: 1050px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.video__iframe {
  width: 515px;
  height: 316px;
}

.oakley {
  padding-top: 160px;
  padding-bottom: 100px;
  background-color:#F2F2F2;
}

.feynman {
  padding-top: 100px;
  height: 890px;
  background-color:#F2F2F2;
  background-image: url("../images/feinman.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  z-index: 1;
  position: relative;
}

.feynman__title {
  display: block;
  width: 648px;
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
  margin: 0 auto;
  text-align: center;
}

.feynman__subtitle {
  padding-top: 70px;
  display: block;
  font-size: 36px;
  font-weight: 100;
  line-height: 51px;
  margin: 0 auto;
  text-align: center;
}

.feynman__link {
  font-size: 36px;
  font-weight: 100;
  line-height: 51px;
  position: absolute;
  right: 48px;
  top: 445px;
}


.digits {
  padding-top: 100px;
  margin: 0 auto 100px auto;
}

.table {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
}

.table__cell {
  display: block;
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin-top: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 20px 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.khan {
  background-color:#F2F2F2;
  margin: 0 auto;
}

.khan__container {
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: 100;
}

.khan__title {
  line-height: 1.15;
  margin-bottom: 50px;
  font-size: 60px;
  font-weight: 600;
}

.khan__quote {
  width: 790px;
  line-height: 34px;
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 36px;
}

.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 600;
}

.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 100;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  background-image: url("../images/khan-book.jpg");
}

.khan__book-container {
  margin-top: 68px;
  display: flex;
}

.khan__buy-link {
  margin-left: 48px;
  line-height: 42px;
  font-size: 30px;
  font-weight: 100;
}

.kaufman {
  position: relative;
  overflow: hidden;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: black;
}

.kaufman__triangle {
  background-image: url("../images/triangle.svg");
  position: absolute;
  width:1000px;
  height:877px;
  position: absolute;
  background-repeat: no-repeat;
  right:-210px;
  z-index: 1;
  animation: rotation 20s linear infinite;
}

.section-title_theme_dark {
  color:white;
}

.section-subtitle_theme_dark {
  color:white;
}

.table_theme_dark {
  background-color: black;
}

.table__cell_theme_dark {
  z-index: 2;
  width: 200px;
  margin-top: 80px;
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}

.resources {
  padding-top: 100px;
}

.resources__logo-zone {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 80px auto 217px auto;
}

.resources__logo {
  width: 270px;
  height: 38px;
  background-position: center;
  background-repeat: no-repeat;
}

.resources__logo_arz {
  background-image: url("../images/logo/resources-arzamas.svg");
  background-size: 60%;
}

.resources__logo_n1 {
  background-image: url("../images/logo/resources-n1.svg");
  background-size: 30%;
}

.resources__logo_pol {
  background-image: url("../images/logo/resources-polka.svg");
  background-size: 60%;
}

.resources__logo_str {
  background-image: url("../images/logo/resources-strelka.svg");
  background-size: 60%;
}

.footer {
  min-height: 350px;
  background-color: black;
}

.footer__columns {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}

.footer__column {
  display: flex;
  margin: 60px 0 40px 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 300px;
}

.footer__column_content_copyright {
  flex-basis: 711px;
}

.footer__column-heading {
  line-height: 18px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-link {
  display: block;
  line-height: 18px;
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
}

.footer__column-links {
  margin-top: 20px;
  margin-bottom: 6px;
}

.footer__author {
  font-size: 18px;
  line-height: 25px;
  font-weight: 100;
}

.logo_place_footer {
  background-image: url(../images/logo_white.svg);
  width: 180px;
  height: 35px;
}
.footer__social-icon {
  width: 16px;
  height: 16px;
}
